  
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
* { box-sizing: border-box }

body {
  margin: 0;
  font-family:  'PT Sans', 'Open Sans',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  line-height: 22px;
}

ul, li{
  display: block;
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;

}
a:hover{
cursor: pointer;
}
li{
  list-style: none;
}

.container{
    width: 1200px;
    margin: 0 auto;
}
.picture_container{
width: 100%;
height: 100vh;
/*background-color: 	#2E3884;*/
animation-name: movement;
animation-duration: 2s;
animation-timing-function: linear;
animation-iteration-count: infinite;
position: relative;
top: 0;
transition: all 1s ease 0s;
overflow: hidden;
width: 1200px;
left: calc(50% - 1200px/2);
}
.picture_container__active{
  animation-name: movement;
animation-duration: 2s;
animation-timing-function: linear;
animation-iteration-count: infinite;
  width: 100%;
  height: 100vh;
  /*background-color: 	#2E3884;*/
  position: relative;
  top: -10vh;
  transition: all 1s ease 0s;
  overflow: hidden;
  width: 1200px;
  left: calc(50% - 1200px/2);
}

.picture_bike{
  margin-top: calc(15vh - 50px);
margin-left: 0;
margin-right: calc(100% - 10px);
height: 25vh;
width: 44.7vh;
background-image: url('../../img/bike_kola_outlined1.png');
background-size: contain;
background-repeat: no-repeat;
}
@keyframes movement
{
  0% {
    background-image: url('../../img/stars.png');
   }
   50% {
    background-image: url('../../img/stars2.png');
   }
   100%{
    background-image: url('../../img/stars.png');
   }
}


/*
@keyframes movement
{
   from {
         background-position: 0 0, 30px 60px, 130px 270px, 70px 150px;
   }
   to {
         background-position: -550px 0, -320px 60px, -120px 270px, -150px 150px;
   }
}
@-moz-keyframes movement
{
   from {
         background-position: 0 0, 30px 60px, 130px 270px, 70px 150px;
   }
   to {
         background-position: -550px 0, -320px 60px, -120px 270px, -150px 150px;
   }
}
@-webkit-keyframes movement
{
   from {
         background-position: 0 0, 30px 60px, 130px 270px, 70px 150px;
   }
   to {
         background-position: -550px 0, -320px 60px, -120px 270px, -150px 150px;
   }
}
/*
.c-animated-background {
  background-color: #2E3884;

  background-image:
     -moz-radial-gradient(circle, #FFFFFF 2px, rgba(248,255,128,.5) 4px, transparent 10px),
     -moz-radial-gradient(circle, #FFFFFF 1px, rgba(255,186,170,.4) 3px, transparent 10px),
     -moz-radial-gradient(ellipse, rgba(255,255,255,.9) 1px, rgba(251,255,186,.3) 2px, transparent 10px),
     -moz-radial-gradient(ellipse, rgba(255,255,255,.4), rgba(253,255,219,.2) 1px, transparent 10px);

  background-image:
     -webkit-gradient(radial, 50% 50%, 2, 50% 50%, 10, from(white), color-stop(0.1, rgba(248,255,128,.5)), to(transparent)),
     -webkit-gradient(radial, 50% 50%, 1, 50% 50%, 7, from(white), color-stop(0.1, rgba(255,186,170,.4)), to(transparent)),
     -webkit-gradient(radial, 50% 50%, 1, 50% 50%, 10, from(rgba(255,255,255,.9)), color-stop(0.05, rgba(251,255,186,.3)), to(transparent)),
     -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 7, from(rgba(255,255,255,.4)), color-stop(0.03, rgba(253,255,219,.2)), to(transparent));

  background-size: 550px 550px, 350px 350px, 250px 270px, 220px 200px;
  background-position: 0 0, 30px 60px, 130px 270px, 70px 150px;

  animation-name: movement;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -moz-animation-name: movement;
  -moz-animation-duration: 5s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;

  -webkit-animation-name: movement;
  -webkit-animation-duration: 5s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;

}
*/














.picture {
  height: 46vh;
width: 30vh;
transform: rotate(35deg);
background-image: url('../../img/we_outlined.png');
background-size: contain;
background-repeat: no-repeat;

  transition: all 2.5s ease 0s;
}








.picture__active {

    transition: all 2.5s ease 0s;
  }
.mainInfo{
  position: relative;
  top: 0;
  width: 100%;
  height: auto;
}
.mainInfo__static{
  position: static;
}
.infoForBikers_container{
  height: 100vh;
  background-color: white;
  position: absolute;
  top: -10vh;
  transition: all 1s;
  width: 1200px;
left: calc(50% - 1200px/2);

}
.infoForBikers_container__active{
  width: 1200px;
  transition: top 1s;
  height: 100vh;
  background-color: white;
  position: absolute;
  top: -10vh;
  left: calc(50% - 1200px/2);

}

.infoForBikers_titles{
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around
}
.infoForBikers_picture_container{
  height: 40vh;
  background-color: #f7f5e7;
  overflow: hidden;
}
/*пока получается, этот не нужен класс. Он ничего не меняет*/
.infoForBikers_container__active__fixed{
  height: 100vh;
  background-color: white;
position: fixed;
top: 0;
width: 1200px;
left: calc(50% - 1200px/2);

}
/*.infoForBikers_container__active__fixed svg{

}*/
.infoForBikers_container__active__fixed_after{
  height: 100vh;
  background-color: white;
position: relative;
top: 50vh;
width: 1200px;
left: calc(50% - 1200px/2);

}
.infoForBikers_text{
  margin: 30px auto;
  width: 70%;
  line-height: 28px;
}
.infoForBikers_text_title{
  margin-bottom: 10px;
  font-weight: 600;
}

.infoForCarRiders_textBlock{
  margin-top: 20px;
}
.infoForCarRiders{
  width: 60%;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 7px;
}
.infoForCarRiders_container__active .plans,
.infoForCarRiders_container__active .infoForCarRiders,
.infoForCarRiders_container__fixed .plans,
.infoForCarRiders_container__fixed .infoForCarRiders
{
  background-color: rgba(255, 255, 255, 0.95);
}

.infoForCarRiders_container__active__bright .plans,
.infoForCarRiders_container__active__bright .infoForCarRiders
{
  background-color: rgba(255, 255, 255, 0.85);
}
.plans{
  width: 40%;
  margin: 0 auto;
  border-radius: 5px;
  padding: 7px;
}
a{
  color: inherit;
  text-decoration: underline;
  font-weight: 600;
}
a:hover{
  color: #b8b3d9;
}
.infoForCarRiders_container__fixed{
  height: 100vh;
  width: 100%;
  background-image: url("../../img/les_dsc_1550.png");
  transition: background-image 1s ease 0s;
  background-size: cover;
position: fixed;
top: 100vh;
width: 1200px;
display: flex;
flex-direction: column;
justify-content: space-between;
}
.infoForCarRiders_container__active{
  position: absolute;
  height: 100vh;
  width: 100%;
  background-image: url("../../img/les_dsc_1550.png");
  background-size: cover;
  top: calc(150vh);
  transition: background-image 1s ease 0s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.infoForCarRiders_container__active__bright{
  position: absolute;
  height: 100vh;
  width: 100%;
  background-image: url("../../img/tmb_84260_8224.png");
  background-size: cover;
  top: calc(150vh);
  transition: background-image 1s ease 0s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.lesok_picture_container__white{
  height: 540px;
  width: 1200px;

  margin: 0 auto;
  background-image: url("../../img/rotonda.png");
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 1s ease 0s;
}
.lesok_picture_container__black{
  height: 540px;
  width: 1200px;
  margin: 0 auto;
  background-image: url("../../img/rotonda.png");
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 1s ease 0s;
}
.talents_container{
  position: absolute;
  top: calc(260vh);
  height: 100vh;
  background-color: white;
  display: flex;
  padding: 30px;
  transition: all 1s ease 0s;
  width: 1200px;
left: calc(50% - 1200px/2);
}
.talents_container__active{
  top: calc(250vh);
  width: 1200px;
left: calc(50% - 1200px/2);
}
.talentsAndAfterParty_text{
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.talents{
  margin-top: 100vh;
  margin-bottom: 20px;
  transition: all 1s ease 0s;
}
.talents_container__active .talents{
  margin-top: 0;
  transition: all 1s ease 0s;
}
.afterparty{
  opacity: 0;
  transition: all 0.5s ease 0s;
}
.afterparty__active{
  opacity: 1;
  transition: all 0.5s ease 0s;
}
.talents_picture{
  height: 100%;
  width: 50%;
  background-image: url("../../img/we2_outlined_trees.png");
  background-repeat: no-repeat;
  background-size: cover;
  	
background-position: bottom
}

.talents_title{
font-weight: 600;
padding-bottom: 20px;
}