*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "PT Sans", "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  line-height: 22px;
}

ul,
li {
  display: block;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}
li {
  list-style: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
}
.picture_container {
  width: 100%;
  height: 100vh;
  /*background-color: 	#2E3884;*/
  animation-name: movement;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  position: relative;
  top: 0;
  transition: all 1s ease 0s;
  overflow: hidden;
  width: 1200px;
  left: calc(50% - 1200px / 2);
}
.picture_container__active {
  animation-name: movement;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  width: 100%;
  height: 100vh;
  /*background-color: 	#2E3884;*/
  position: relative;
  top: -10vh;
  transition: all 1s ease 0s;
  overflow: hidden;
  width: 1200px;
  left: calc(50% - 1200px / 2);
}

.picture_bike {
  margin-top: calc(15vh - 10px);
  margin-left: 0;
  margin-right: calc(100% - 10px);
  height: 25vh;
  width: 44.7vh;
  background-image: url("../../img/bike_kola_outlined1.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 100 !important;
  position: absolute;
}



.picture__active {
  transition: all 2.5s ease 0s;
}
.mainInfo {
  position: relative;
  top: 0;
  width: 100%;
  height: 450vh;
}
.mainInfo__static {
  position: static;
}
.infoForBikers_container {
  height: 100vh;
  background-color: white;
  position: absolute;
  top: 0;
  transition: all 1s;
  width: 1200px;
  left: calc(50% - 1200px / 2);
}
.infoForBikers_container__active {
  width: 1200px;
  transition: top 1s;
  height: 100vh;
  background-color: white;
  position: absolute;
  top: 0;
  left: calc(50% - 1200px / 2);
}

.infoForBikers_titles {
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.infoForBikers_picture_container {
  height: 40vh;
  background-color: #dfdfdf;
  overflow: hidden;
  position: relative;
}
/*пока получается, этот не нужен класс. Он ничего не меняет*/
.infoForBikers_container__active__fixed {
  height: 100vh;
  background-color: white;
  position: fixed;
  top: 0;
  width: 1200px;
  left: calc(50% - 1200px / 2);
}
/*.infoForBikers_container__active__fixed svg{

}*/

.trees_front {
  position: absolute;
  top: calc(70%);
  bottom: 0;
  height: 30vh;
  width: 30%;
  background-image: url("../../img/trees.png");
  background-size: contain;
  background-repeat: no-repeat;
  transform: scale(1.5);
  z-index: 200;
}
.trees_back {
  transform: scale(1.5);
  position: absolute;
  top: calc(20%);
  bottom: 0;
  right: 0;
  height: 20vh;
  width: 30%;
  background-image: url("../../img/trees.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
}
.infoForBikers_container__active__fixed_after {
  height: 100vh;
  background-color: white;
  position: relative;
  top: 150vh;
  width: 1200px;
  left: calc(50% - 1200px / 2);
}
.infoForBikers_text {
  margin: 10px auto;
  width: 90%;
  line-height: 28px;
}
.infoForBikers_text_title {
  font-weight: 600;
}

.infoForCarRiders_textBlock {
  margin-top: 20px;
}
.infoForCarRiders {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 7px;
}
.infoForCarRiders_container__active .plans,
.infoForCarRiders_container__active .infoForCarRiders,
.infoForCarRiders_container__fixed .plans,
.infoForCarRiders_container__fixed .infoForCarRiders {
  background-color: rgba(255, 255, 255, 0.95);
}

.infoForCarRiders_container__active__bright .plans,
.infoForCarRiders_container__active__bright .infoForCarRiders {
  background-color: rgba(255, 255, 255, 0.85);
}
.plans {
  width: 80%;
  margin: 0 auto;
  border-radius: 5px;
  padding: 7px;
}
a {
  color: inherit;
  text-decoration: underline;
  font-weight: 600;
}
a:hover {
  color: #b8b3d9;
}
.infoForCarRiders_container__fixed {
  height: 100vh;
  width: 100%;
  background-size: cover;
  position: fixed;
  /*background-image: url("../../img/les_dsc_1550.png");*/
  background-color: 	#639f48;
  transition: background-image 0.5s ease 0s;
  transition-delay : 0s;
  top: 250vh;
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.infoForCarRiders_container__active {
  position: absolute;
  height: 100vh;
  width: 100%;
  /*background-image: url("../../img/les_dsc_1550.png");*/
  background-color: 	#639f48;
  background-size: cover;
  top: 250vh;
  transition: background-image 0.5s ease 0s;
  transition-delay : 0s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.infoForCarRiders_container__active__bright {
  position: absolute;
  height: 100vh;
  width: 100%;
  /*background-image: url("../../img/tmb_84260_8224.png");*/
  background-color: 	#639f48;
  background-size: cover;
  top: 250vh;
  transition: background-image 0.5s ease 0s;
  transition-delay : 0s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.lesok_picture_container__white {
  height: 60vh;

  width: calc(2.35 * 60vh);

  margin: 0 auto;
  background-image: url("../../img/rotonda.png");
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 1s ease 0s;
}
.lesok_picture_container__black {
  height: 60vh;

  width: calc(2.35 * 60vh);
  margin: 0 auto;
  background-image: url("../../img/rotonda.png");
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 1s ease 0s;
}
.talents_container {
  position: absolute;
  top: 360vh;
  height: 100vh;
  background-color: white;
  display: flex;
  padding: 30px;
  transition: all 1s ease 0s;
  width: 1200px;
  left: calc(50% - 1200px / 2);
}
.talents_container__active {
  top: 350vh;
  width: 1200px;
  left: calc(50% - 1200px / 2);
}
.talentsAndAfterParty_text {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0 auto;
}
.talents {
  margin-top: 100vh;
  margin-bottom: 10px;
  transition: all 1s ease 0s;
}
.talents_container__active .talents {
  margin-top: 0;
  transition: all 1s ease 0s;
}
.afterparty {
  margin-top: 100vh;
  transition: all 0.5s ease 0s;
}
.afterparty__active {
  margin-top: 0;
  transition: all 0.5s ease 0s;
}
.talents_picture {
  height: 100%;
  width: 50%;
  background-image: url("../../img/we2_outlined_trees.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 10px;
  background-position: bottom;
}

.talents_title {
  font-weight: 600;
}
.main_info_container2 {
  font-weight: 600;
  line-height: 28px;
  background-color: hsla(70, 95%, 71%, 0.521);
  border-radius: 10px;
  width: 60%;
  margin: 0 auto;
  margin-top: 10px;
  padding: 5px;
}
.ps {
  display: none;
  margin-top: 5px;
}

@media (max-width: 1199px) and (min-width: 767px)  {
  .talentsAndAfterParty_text{
    width: 75%;
    font-size: 16px;
    line-height: 20px;
  }
  .talents_picture{
    width: 25%;
  }
  
  .container {
    width: 100%;
  }
  .picture_container {
    width: 100%;
  }
  .lesok_picture_container__black,
  .lesok_picture_container__white,
  .infoForCarRiders_container__fixed {
    width: 100%;
  }

  .talents_container__active,
  .talents_container,
  .infoForBikers_container__active__fixed_after,
  .infoForBikers_container__active__fixed,
  .infoForBikers_container__active,
  .infoForBikers_container,
  .picture_container__active,
  .picture_container {
    width: 100%;
    left: calc(50% - 100vw / 2);
  }

  .talents_container {
    width: 100%;
    left: calc(50% - 100vw / 2);
  }

  .infoForBikers_container__active__fixed,
  .infoForBikers_container__active__fixed_after,
  .infoForBikers_container,
  .infoForBikers_container__active {
    left: 0;
  }
  .infoForBikers_text {
    width: 90%;
  }
  .infoForBikers_titles {
    height: auto;
  }
  .infoForBikers_titles h2 {
    line-height:30px;
    font-size: 32px;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  .infoForBikers_titles h3 {
    line-height: 25px;
    font-size: 20px;
    margin-bottom: 10px;
  }
  .infoForBikers_picture_container{
    margin-top: 20px;
  }
  .main_info_container2 {

    width: 90%;

  }
  .talents_title{
    padding-bottom: 0;
  }
  .talents{
    margin-bottom: 5px;
  }
  .main_info_container2{
    margin-top: 5px;
  }
}

@media (max-width: 766px) and (min-width: 300px) {
  h1 {
    line-height: 20px;
    font-size: 18px;
  }
  .container {
    width: 100%;
  }
  .picture_container {
    width: 100%;
  }
  .lesok_picture_container__black,
  .lesok_picture_container__white,
  .infoForCarRiders_container__fixed {
    width: 100%;

  }
  .talents_container__active,
  .talents_container,
  .infoForBikers_container__active__fixed_after,
  .infoForBikers_container__active__fixed,
  .infoForBikers_container__active,
  .infoForBikers_container,
  .picture_container__active,
  .picture_container {
    width: 100%;
    left: calc(50% - 100vw / 2);
  }
  .talents_container {
    width: 100%;
    left: calc(50% - 100vw / 2);
  }
  .infoForBikers_container__active__fixed,
  .infoForBikers_container__active__fixed_after,
  .infoForBikers_container,
  .infoForBikers_container__active {
    left: 0;
    padding: 15px;
    height: auto;
  }
  .infoForBikers_text {
    width: 90%;
  }
  .infoForBikers_titles h2 {
    line-height: 7vw;
    font-size: 6vw;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  .infoForBikers_titles h3 {
    line-height: 6vw;
    font-size: 5vw;
    margin-bottom: 10px;
  }
  body {
    font-size: 18px;
    line-height: 22px;
  }
  .trees_back{
    top: calc(10%);
    bottom: 0;
    right: 0;
    height: 30%;
    width: 30%;

  }
  .infoForBikers_picture_container{
height: 300px;
  }
  .infoForBikers_text {
    line-height: inherit;
  }
 .lesok_picture_container__black,
  .lesok_picture_container__white {
    width: 90%;
    margin-top: 30vh;
    margin-bottom: 10px;
    height: 45vw;
  }
  .infoForBikers_text {
    margin: 0;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  .infoForBikers_text p br {
    height: 0px;
  }
  .infoForBikers_titles {
    height: auto;
  }
  .infoForBikers_text_title {
    margin-bottom: 0;
  }
  .header .h1 {
    height: 50%;
  }
  .main_info_container,
  .main_info_container__active {
    height: 50% !important;
  }
  .infoForCarRiders,
  .plans {
    width: 90%;
  }
  .infoForBikers_container__active__fixed,
  .infoForCarRiders_container__fixed,
  .infoForCarRiders_container__active,
  .infoForCarRiders_container__active__bright,
  .talents_container,
  .talents_container__active,
  .form_container,
  .infoForBikers_container{
    position: static;
  }
  .infoForCarRiders_container__fixed,
  .infoForCarRiders_container__active,
  .infoForCarRiders_container__active__bright{
    background-image: none;
    background: inherit;
    height: auto;
  }
  .talents_picture{
    display: none;
  }
  .talents_container,
  .talents_container__active{
    /*background-image: url("../../img/we2_outlined_trees_mobile.png");*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    padding: 10px;
    height: auto;
  }
  .infoForBikers_container__active__fixed_after {
    top: 0vh;
  }
  .talentsAndAfterParty_text{
width: 100%;
  }
  .talents,
  .afterparty {
    margin: 0;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 5px;
    border-radius: 10px;
  }
  .ps{
    display: inherit;
    width: auto !important;
    font-weight: 500;
  }
  .talents_title{
padding-bottom: 5px;
  }
  .afterparty {margin-top: 20px;}
  .main_info_container2{
margin-bottom: 800px;
width: 90%;
padding: 5px;
background-color: rgba(255, 255, 255, 0.9);
  }
  .trees_front {
    top: calc(80%);
    bottom: 0;
    height: 50%;
    width: 50%;
  }
  .infoForBikers_picture_container{
    margin-top: 20px;
  }
  .picture_bike, .picture_bike__active{
    margin: 5% !important;
    height: 70%;
    width: 100%;
    bottom: 10%;
  }
  .mainInfo{
position: static;
height: auto;
  }
  .form_Item_container_radio label:first-child{
    width: 70%;
  }
  .form_container{
    padding-bottom: 20px;
  }
}

@media  (min-aspect-ratio: 1/2) and (max-height: 600px) and (min-width: 370px) {
  .lesok_picture_container__black,
  .lesok_picture_container__white {
    height: 50vh;
    width: 100%;
  }
  .talentsAndAfterParty_text{
    width: 75%;
    font-size: 16px;
    line-height: 20px;
  }
  .talents_picture{
    width: 25%;
  }
  .infoForBikers_text {
    width: 90%;
    line-height: 22px;
font-size: 16px;
  }
  .infoForBikers_titles h2{
margin-top: 5px;
margin-bottom: 5px;
  }
  .infoForBikers_picture_container{
    margin-top: 5px;
    height: 35vh;
  }
  .picture_bike {
    margin-top: calc(15vh - 20px);}
  .infoForCarRiders, .plans{
    line-height: 22px;
    font-size: 16px;
  }
  .plans{
    width: 80%;
  }
}

@media  (min-aspect-ratio: 1/2) and (max-height: 520px) {
  .container {
    width: 100%;
  }
  .picture_container {
    width: 100%;
  }
  .lesok_picture_container__black,
  .lesok_picture_container__white,
  .infoForCarRiders_container__fixed {
    width: 100%;

  }
  .talents_container__active,
  .talents_container,
  .infoForBikers_container__active__fixed_after,
  .infoForBikers_container__active__fixed,
  .infoForBikers_container__active,
  .infoForBikers_container,
  .picture_container__active,
  .picture_container {
    width: 100%;
    left: calc(50% - 100vw / 2);
  }
  .talents_container {
    width: 100%;
    left: calc(50% - 100vw / 2);
  }
  .infoForBikers_container__active__fixed,
  .infoForBikers_container__active__fixed_after,
  .infoForBikers_container,
  .infoForBikers_container__active {
    left: 0;
    padding: 15px;
    height: auto;
  }
  .infoForBikers_text {
    width: 90%;
  }
  .infoForBikers_titles h2 {
    line-height: 24px;
    font-size: 28px;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  .infoForBikers_titles h3 {
    line-height: 20px;
    font-size: 24px;
    margin-bottom: 10px;
  }
  body {
    font-size: 18px;
    line-height: 22px;
  }
  .trees_back{
    top: calc(10%);
    bottom: 0;
    right: 0;
    height: 30%;
    width: 30%;

  }
  .infoForBikers_picture_container{
height: 300px;
  }
  .infoForBikers_text {
    line-height: inherit;
  }
 .lesok_picture_container__black,
  .lesok_picture_container__white {
    width: 90%;
    margin-top: 30vh;
    margin-bottom: 10px;
    height: 45vw;
  }
  .infoForBikers_text {
    margin: 0;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  .infoForBikers_text p br {
    height: 0px;
  }
  .infoForBikers_titles {
    height: auto;
  }
  .infoForBikers_text_title {
    margin-bottom: 0;
  }

  .main_info_container,
  .main_info_container__active {
    height: 50% !important;
  }
  .infoForCarRiders,
  .plans {
    width: 90%;
  }
  .infoForBikers_container__active__fixed,
  .infoForCarRiders_container__fixed,
  .infoForCarRiders_container__active,
  .infoForCarRiders_container__active__bright,
  .talents_container,
  .talents_container__active,
  .form_container,
  .infoForBikers_container{
    position: static;
  }
  .infoForCarRiders_container__fixed,
  .infoForCarRiders_container__active,
  .infoForCarRiders_container__active__bright{
    background-image: none;
    background: inherit;
    height: auto;
  }
  .talents_picture{
    display: none;
  }
  .talents_container,
  .talents_container__active{
    /*background-image: url("../../img/we2_outlined_trees_mobile.png");*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    padding: 10px;
    height: auto;
  }
  .infoForBikers_container__active__fixed_after {
    top: 0vh;
  }
  .talentsAndAfterParty_text{
width: 100%;
  }
  .talents,
  .afterparty {
    margin: 0;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 5px;
    border-radius: 10px;
  }
  .ps{
    font-size: 16px;
    line-height: 20px;
    display: inherit;
    width: auto !important;
  }
  .talents_title{
padding-bottom: 5px;
  }
  .afterparty {margin-top: 20px;}
  .main_info_container2{
margin-bottom: 800px;
width: 90%;
padding: 5px;
background-color: rgba(255, 255, 255, 0.9);
  }
  .trees_front {
    top: calc(80%);
    bottom: 0;
    height: 50%;
    width: 50%;
  }
  .infoForBikers_picture_container{
    margin-top: 20px;
  }
  .picture_bike, .picture_bike__active{
    margin: 5% !important;
    height: 70%;
    width: 100%;
    bottom: 10%;
  }
  .mainInfo{
position: static;
height: auto;
  }
  .form_Item_container_radio label:first-child{
    width: 70%;
  }
  .form_container{
    padding-bottom: 20px;
  }
}